<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="JS代码,其他代码,JS广告代码,JS特效代码" />
<meta name="description" content="漂亮的蓝天白云404错误代码下载" />
<title>漂亮的蓝天白云404错误代码下载 - 魔客吧 www.moke8.com</title>
<meta http-equiv="refresh" content="60;url=http://www.moke8.com/">
<!-- content="60，即60秒后返回主页，可根据需要修改或者删除这段代码 -->
<link href="css/404css/error.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 代码 开始 -->
<div id="container"><img class="png" src="images/404images/404.png" /> <img class="png msg" src="images/404images/404_msg.png" />
  <p><a href="http://www.baidu.com/" target="_blank"><img class="png" src="images/404images/404_to_index.png" /></a> </p>
</div>
<div id="cloud" class="png"></div>
<!-- 代码 结束 -->

 
</body>
</html>